*{
    box-sizing: border-box;
    padding:0;
    margin:0
}
body {
    font-family: 'century', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #34a9c7;
    color: #ffffff;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

/* Header */
header nav {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
}

.fa-bars {
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
}
.nav-list {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #62d8fc;
    transform: translate(-200%);
    transition: 1s ease-in-out;
}
.nav-close {
    display: block;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem;
}
.nav-close i {
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
}
.show-nav {
    transform: translate(0);
}
.nav-list li {
margin-top: 1rem;
transition: .5rem ease-in-out;
}
.nav-list a {
color: #ffffff;
font-size: 1.5rem;
transition: 1 ease-in-out;
}
.nav-list li:hover {
border-left: solid 3px;
}
.logo {
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: center;
}

/* Header Media Query */
@media screen and (min-width: 800px) {
    .nav-list {
      transform: translate(0);
      position: unset;
      height: auto;
      flex-direction: row;
      margin-top: 0;
      background-color: transparent;
      justify-content: space-between;
      width: 70%;
      max-width: 700px;
      margin: 0 auto;
    }}
.nav-list li {
    margin-top: 0;
}
.nav-close {
    display: none;
}
.nav-toggle {
    display: none;
}
.nav-list a {
   color: #ffffff;
}
.nav-list li:hover {
    border-left: none;
}

/* About */
.about-section {
    background-color: #98eefe;
    padding-top: 2rem;
  }
.about-container {
    margin: 0 auto;
    width: 90%;
    min-height: 86vh;
}
.about-container h1 {
    display: block;
    width: fit-content;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    font-weight: bolder;
    border-bottom: solid black 3px;
    margin: 1rem auto;
    padding-bottom: .5rem;
}
.about-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header-text h2 {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 2rem;
}
.header-text h2 span {
    font-size: 2.5rem;
    color: #ffffff;
}
.header-text h3 {
    font-size: 1.1rem;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif !important;
    letter-spacing: 0.25rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-weight: bolder;
}
.about-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.about-container p {
    font-weight: 500;
    text-align: center;
    margin-top: 3rem;
    line-height: 1.5;
}
.about-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-footer ul {
    border: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.about-footer li {
margin-left: 1rem;
}
.about-footer a {
    transition: 1s ease-in-out;
}
.about-footer i {
    color: #193a64;
    font-size: 1.2rem;
    transition: all 0.5s;
    margin-top: 1.5rem;
}
.about-footer a:hover > i {
    color: #ffffff;
}
.about-footer button {
    text-transform: uppercase;
    background: #193a64;
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.25rem;
    display: inline-block;
    font-weight: 700;
    -webkit-transition: var(--transition);
    transition: 0.5s ease-in;
    font-size: 0.875rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 1.5rem;
  }
  
  .about-footer button:hover {
    transform: scale(1.1);
  }
  .about-footer button a {
    text-decoration: none;
    color: #ffffff;
  }
  /* About Media Query */
  @media screen and (min-width: 800px) {
    .about-container h1 {
      display: block;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
    
    .about-section {
      padding-top: 1rem;
      margin-top: 0;
    }
    .about-container {
      min-height: 87vh;
    }
    .about-container p {
      width: 85%;
      margin: 0 auto;
      margin-top: 20px;
    }
  
    .about-img {
      position: relative;
    }
    .about-img img {
      width: 260px;
      height: 260px;
      border-radius: 20px;
      position: relative;
    }
    .about-img::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: 0.25rem solid #ffffff;
      top: 1rem;
      left: -1rem;
      border-radius: 20px;
    }
  
    .about-header {
      align-items: flex-start;
      justify-content: center;
      gap: 1.5rem;
    }
    .header-text {
      margin-top: 3rem;
    }
    .header-text h2 {
      font-size: 3rem;
    }
    .header-text h2 span {
      font-size: 3.5rem;
    }
    .header-text h3 {
      font-size: 1.4rem;
    }
    .about-footer i {
      margin-top: 1rem;
    }
    .about-footer button {
      margin-bottom: 2rem;
    }
  }