*{
    box-sizing: border-box;
    padding:0;
    margin:0
}
body {
    font-family: 'century', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #34a9c7;
    color: #ffffff;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

/* Header */
header nav {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
}

.fa-bars {
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
}
.nav-list {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #62d8fc;
    transform: translate(-200%);
    transition: 1s ease-in-out;
}
.nav-close {
    display: block;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem;
}
.nav-close i {
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
}
.show-nav {
    transform: translate(0);
}
.nav-list li {
margin-top: 1rem;
transition: .5rem ease-in-out;
}
.nav-list a {
color: #ffffff;
font-size: 1.5rem;
transition: 1 ease-in-out;
}
.nav-list li:hover {
border-left: solid 3px;
}
.logo {
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: center;
}
/* Header Media Query */